.Genre__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.Genre__container:hover .Genre__hover {
  opacity: 1 !important;
}

.Genre__label {
  margin: 1.5rem 0;
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
}

.Genre__hover {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18rem;
  height: 26rem;
  border-radius: 18rem;
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: all 0.1s linear;
}

.Genre__hover-btn {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  gap: 0 !important;
  width: 3rem !important;
  height: 3rem !important;
  padding: 0 !important;
  transform: rotate(-45deg) scale(1.5);
}
