/*            Hero Section            */

.App__hero {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 3rem 0 6rem 0;
}

.App__header-text {
  display: flex;
  flex-direction: column;
  margin-left: 0.25rem;
}

.App__header-text h1 {
  font-weight: 500;
  font-size: 5.6rem;
  opacity: 0.9;
}

.App__subheader-text {
  max-width: 35rem;
  padding-left: 0.25rem;
  opacity: 0.6;
  line-height: 1.75rem;
}

.App__hero-btns {
  display: flex;
}

.App__hero-images {
  position: absolute;
  top: 8rem;
  right: 0;
  display: flex;
  gap: 1.5rem;
}

.App__hero-images-right {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.App__hero-percent-statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, white, rgb(var(--gray)) 65%),
    color-mix(in srgb, white, rgb(var(--gray)) 85%)
  );
}

.App__hero-percent-statistic p {
  text-align: center;
  margin: 0;
}

.App__statistics {
  display: flex;
  gap: 1.5rem;
  margin: 5rem 0 8rem 0;
}

/*            Sponsors            */

.App__sponsors {
  display: flex;
  justify-content: space-between;
  margin: 12rem 0;
}

.App__sponsor-image {
  width: 10.5rem;
  height: 3.5rem;
}

/*            Genres            */

.App__genre-cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
}

.App__genre-label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  opacity: 0.9;
}

.App__genre-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*            Statement            */

.App__statement {
  width: 80%;
  margin: 12rem auto;
  text-align: center;
  font-size: 4rem;
  font-weight: 400;
}

/*            Features            */

.App__features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
  margin-bottom: 12rem;
}

.App__features-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.App__features-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  opacity: 0.9;
}

.App__header-line {
  flex: 1;
  height: 2px;
  background-color: white;
}

.App__feature-items {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/*            Testimonials            */

.App__testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-bottom: 12rem;
}

.App__testimonial-header {
  text-align: center;
}

.App__testimonial-header p {
  opacity: 0.8;
}

.App__testimonial-list {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/*            Footer            */

.App__footer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  height: 36rem;
  padding: 0 4rem;
  margin-bottom: 3rem;
  border-radius: 1.25rem;
}

.App__footer p {
  opacity: 0.5;
}

.App__footer-header-low-opacity {
  opacity: 0.5;
}

.App__footer-btns {
  display: flex;
}

.App__footer-design {
  position: absolute;
  top: 0;
  right: 0;
  width: 40rem;
  height: 36rem;
  background: radial-gradient(
    circle at 90% 25%,
    transparent 22rem,
    rgb(var(--blue)) 22rem,
    color-mix(in srgb, white, rgb(var(--green))) 28rem,
    transparent 28rem,
    transparent 32rem,
    color-mix(in srgb, white, rgb(var(--green))) 32rem,
    rgb(var(--blue)) 32.5rem,
    transparent 32.5rem
  );
}

/*            Media Queries            */

@media (max-width: 1418px) {
  .App__footer-design {
    background: radial-gradient(
      circle at 130% 50%,
      transparent 22rem,
      rgb(var(--blue)) 22rem,
      color-mix(in srgb, white, rgb(var(--green))) 28rem,
      transparent 28rem,
      transparent 32rem,
      color-mix(in srgb, white, rgb(var(--green))) 32rem,
      rgb(var(--blue)) 32.5rem,
      transparent 32.5rem
    );
  }
}

@media (max-width: 1344px) {
  .App__hero-images {
    right: 6%;
  }

  .App__hero-images-right {
    display: none;
  }

  .App__features-image {
    display: none;
  }

  .App__features-content {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .App__hero-images {
    right: 0;
  }

  .App__subheader-text {
    max-width: 30rem;
  }

  .App__sponsor-image {
    width: 9rem;
  }

  .App__genre-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .App__footer-design {
    background: radial-gradient(
      circle at 150% 50%,
      transparent 22rem,
      rgb(var(--blue)) 22rem,
      color-mix(in srgb, white, rgb(var(--green))) 28rem,
      transparent 28rem,
      transparent 32rem,
      color-mix(in srgb, white, rgb(var(--green))) 32rem,
      rgb(var(--blue)) 32.5rem,
      transparent 32.5rem
    );
  }
}

@media (max-width: 956px) {
  .App__header-text h1 {
    text-align: center;
  }

  .App__subheader-text {
    max-width: 36rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .App__hero-btns {
    margin: 0 auto;
  }

  .App__statistics {
    justify-content: center;
  }

  .App__hero-images {
    display: none;
  }

  .App__sponsors {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 4rem;
  }

  .App__sponsor-image {
    width: 50%;
  }

  .App__genre-label {
    max-width: 27rem;
  }

  .App__statement {
    font-size: 3rem;
  }

  .App__footer-design {
    display: none;
  }
}

@media (max-width: 768px) {
  .App__header-text h1 {
    font-size: 4rem;
  }

  .App__genre-cta {
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
  }

  .App__statement {
    font-size: 2rem;
  }

  .App__testimonial-list {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .App__footer {
    height: auto;
    padding: 2rem;
  }

  .App__footer-header {
    text-align: center;
  }

  .App__footer-text {
    text-align: center;
  }

  .App__footer-btns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

@media (max-width: 480px) {
  .App__header-text h1 {
    font-size: 3rem;
  }

  .App__sponsors {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }

  .App__sponsor-image {
    width: 9rem;
  }

  .App__genre-list {
    display: flex;
    flex-direction: column;
  }
}
