@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --gray: 27, 31, 37;
  --blue: 48, 122, 226;
  --green: 169, 252, 80;
  --orange: 245, 174, 75;
  --turquoise: 50, 230, 207;
}

* {
  font-size: 1rem;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0 6.25rem;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(
    circle at 90% 5rem,
    color-mix(in srgb, lightblue, rgb(var(--gray)) 60%) 0,
    rgb(var(--gray)) 50rem
  );
  background-repeat: no-repeat;
  color: white;
  overflow-x: hidden;
  transition: padding 0.1s linear;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*            Headers            */

h1,
.header-1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 600;
}

h2,
.header-2 {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
}

h3,
.header-3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

h4,
.header-4 {
  margin: 0;
  font-size: 1rem;
  font-weight: 600;
}

/*            Text            */

.text-largest {
  font-size: 2.75rem;
}

.text-large {
  font-size: 1.25rem;
}

p,
.text-medium {
  font-size: 1rem;
}

/*            Buttons and Links            */

a {
  color: white;
  text-decoration: none;
}

button,
input[type="button"] {
  cursor: pointer;
}

/*            Media Queries            */

@media (min-width: 1826px) {
  body {
    padding: 0 calc(50% - 813px);
  }
}

/* Small Screens */
@media (max-width: 1024px) {
  body {
    padding: 0 4rem;
  }
}

/* Tablets */
@media (max-width: 768px) {
  body {
    padding: 0 2rem;
  }
}
